.chatbox {
    width: 300px;
    position: fixed;
    z-index: 1001;
    bottom: 20px;
    right: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: none; /* Ẩn mặc định */
 
}

.chat-header {
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.chat-body {
    padding: 10px;
}

input, select {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Nút mở chatbot */
.chat-button {
    
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        color: white;
        border: none;
        padding: 15px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 8px; 
        width: 60px;
        height: 60px;
        text-align: center;
    
}