body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* main */
main {
  display: flex;
  flex-flow: nowrap;
}
/* side bar */
.sidebar {
  background-color: black;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: 1px solid gray;
  width: 300px;
}

.sidebar .active {
  background-color: gray;
  color: black;
}

/* main container */
.main-content {
  width: 100%;
}

/* banner - carousel */
#banner {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* products */
#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
  z-index: 0px;
}

#products .card {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-price {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

#products .card .actual-price {
  color: red;
  font-weight: 700;
  font-size: large;
}

#products .card .normal-price {
  color: gray;
  text-decoration: line-through;
}
#products .card .btn {
  background-color: #111311;
  color: white;
}

#products .card .btn:hover {
  background-color: #77867c;
}
/* footer */
.giaohang {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border-color: black;
}
